# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.local

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
wheels/

# Testing & coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
nosetests.xml
coverage.xml

# Type checkers & linters
.mypy_cache/
.dmypy.json
.pyre/
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Editor / IDE
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db
